.filter-form {
  margin: 48px auto 24px;
  max-width: 100%;
  min-width: 200px;
  position: relative;
  width: 400px;
}

.filter-form::after {
  bottom: 0;
  content: 'X';
  font-size: 1.2em;
  position: absolute;
  right: 15px;
  top: 10px;
}

.filter-input {
  border: 0;
  border-radius: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  padding: 8px 12px;
  width: 100%;
}

.filter-reset {
  background: transparent;
  border: none;
  bottom: 0;
  color: transparent;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.filter-suggestions {
  margin: 0 auto 8px;
  max-width: 600px;
  min-height: 104px;
  text-align: center;
}

.filter-suggestion {
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  margin: 8px;
  padding: 8px 12px;
  transition: all .3s;
}

.filter-suggestion:hover,
.filter-suggestion:focus {
  transform: rotate(-5deg);
}

.filter-suggestion:nth-child(2n):hover,
.filter-suggestion:nth-child(2n):focus {
  transform: rotate(5deg);
}

.filter-suggestion:active {
  box-shadow: 0 3px 6px #000;
}
