.notification-bar {
  background: #fff;
  border-radius: 4px;
  bottom: 32px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  left: 50%;
  padding: 8px 12px;
  position: fixed;
  transform: translateX(-50%);
}
